<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    <script src="https://unpkg.com/vue@3.0.11"></script>
</head>

<body>
    <div id="app">
        <h1>Books</h1>
        <div>
            <p>Title: <input type="text" v-model="choosenTitle"></input></p>
            <p>Is book read: <select v-model="isReadOfNewBook">
                    <option value="bookRead">Yes</option>
                    <option value="bookNotRead">No</option>
                </select>
            </p>
            <button @click="onAddClick">Add</button>
        </div>
        <div v-for="(b, index) in books" :key="index" class="book">
            <p >Title: <span class="bookTitle">{{ b.title }}</span></p>
            <p>Is Book Read: <span :class="b.isRead == 'bookRead' ? 'bookRead' : 'bookNotRead'">{{ b.isRead }}</span></p>
        </div>
    </div>

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    books: [
                        { title: 'Thinking, fast and slow', isRead: 'bookRead' },
                        { title: 'Scrum Guide', isRead: 'bookNotRead' },
                    ],
                    choosenTitle: '',
                    isReadOfNewBook: 'bookNotRead'
                }
            },
            methods: {
                onAddClick() {
                    this.books.push({ title: this.choosenTitle, isRead: this.isReadOfNewBook })
                }
            },
        })
        app.mount('#app')
    </script>
</body>
<style>
    .book {
        background-color: blanchedalmond;
    }

    .bookTitle {
        font-weight: 700;
    }
    .bookRead {
        color: green;
    }

    .bookNotRead {
        color: red;
    }
</style>

</html>